<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.gamethrive.plugins.GameThrive"
    version="1.0.0">

  <name>GameThrive Push Notifications</name>
	<author>Bob Easterday</author>

	<description>
		GameThrive Push Notifications for iOS, Android, and WP8.
	</description>

	<keywords>GameThrive,push,notification,pushnotification,pushnotifications,retention,userretention,messages</keywords>

	<license>MIT</license>

	<js-module src="www/GameThrive.js" name="GameThrive">
        <clobbers target="GameThrive" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.3.0" />
	</engines>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GameThrivePush" >
				<param name="android-package" value="com.plugin.gcm.GameThrivePush"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.VIBRATE"/>
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
			<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.plugin.gcm.PushHandlerActivity" android:exported="true"/>
			<receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
				<intent-filter>
					<action android:name="com.google.android.c2dm.intent.RECEIVE" />
					<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
					<category android:name="$PACKAGE_NAME" />
				</intent-filter>
			</receiver>
			<service android:name="com.plugin.gcm.GCMIntentService" />
		</config-file>

		<source-file src="src/android/com/google/android/gcm/GCMBaseIntentService.java" target-dir="src/android/com/android/google/gcm/" />
		<source-file src="src/android/com/google/android/gcm/GCMBroadcastReceiver.java" target-dir="src/android/com/android/google/gcm/" />
		<source-file src="src/android/com/google/android/gcm/GCMConstants.java" target-dir="src/android/com/android/google/gcm/" />
		<source-file src="src/android/com/google/android/gcm/GCMRegistrar.java" target-dir="src/android/com/android/google/gcm/" />

		
		<source-file src="src/android/android/support/v4/app/NotificationCompatBase.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationCompat.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationCompatHoneycomb.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/GravityCompatJellybeanMr1.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationCompatJellybean.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationCompatGingerbread.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationBuilderWithBuilderAccessor.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/app/NotificationBuilderWithActions.java" target-dir="src/android/android/support/v4/app/" />
		<source-file src="src/android/android/support/v4/view/GravityCompat.java" target-dir="src/android/android/support/v4/view/" />
		<source-file src="src/android/android/support/v4/app/NotificationCompatIceCreamSandwich.java" target-dir="src/android/android/support/v4/app/" />
		

		<source-file src="src/android/com/plugin/gcm/CordovaGCMBroadcastReceiver.java" target-dir="src/com/plugin/gcm/" />
		<source-file src="src/android/com/plugin/gcm/GCMIntentService.java" target-dir="src/com/plugin/gcm/" />
		<source-file src="src/android/com/plugin/gcm/PushHandlerActivity.java" target-dir="src/com/plugin/gcm/" />
		<source-file src="src/android/com/plugin/gcm/GameThrivePush.java" target-dir="src/com/plugin/gcm/" />
		<!-- <source-file src="src/android/com/plugin/android-support-v13.jar" target-dir="libs/" /> -->

	</platform>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="GameThrivePush">
				<param name="ios-package" value="GameThrivePush"/>
			</feature>
		</config-file>

		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/GameThrivePush.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/GameThrivePush.h" />

	</platform>

    <!-- wp8 -->
    <platform name="wp8">

		<config-file target="config.xml" parent="/*">
		  <feature name="GameThrivePush">
			<param name="wp-package" value="GameThrivePush"/>
		  </feature>
		</config-file>

		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
		  <Capability Name="ID_CAP_PUSH_NOTIFICATION"/>
		</config-file>

		<source-file src="src/wp8/GameThrivePush.cs" />
		<!--<source-file src="src/wp8/Newtonsoft.Json/JsonConvert.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonPosition.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonToken.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonSerializer.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonSerializerSettings.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/ConstructorHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DateFormatHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DateParseHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DateTimeZoneHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DefaultValueHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/FloatFormatHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/FloatParseHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/MissingMemberHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/NullValueHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Formatting.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/XmLNodeConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/IContractResolver.cs" /> -->
		
		
		<source-file src="src/wp8/Newtonsoft.Json/DateFormatHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DateParseHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DateTimeZoneHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/DefaultValueHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/FloatFormatHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/FloatParseHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/FormatterAssemblyStyle.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Formatting.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/IJsonLineInfo.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonArrayAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConstructorAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonContainerAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConvert.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConverterAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonConverterCollection.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonDictionaryAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonException.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonExtensionDataAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonIgnoreAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonObjectAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonPosition.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonPropertyAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonReaderException.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonSerializationException.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonSerializer.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonSerializerSettings.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonTextReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonTextWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonToken.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonValidatingReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/JsonWriterException.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/MemberSerialization.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/MetadataPropertyHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/MissingMemberHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/NullValueHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/ObjectCreationHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/PreserveReferencesHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Properties" />
		<source-file src="src/wp8/Newtonsoft.Json/ReferenceLoopHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Required.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization" />
		<source-file src="src/wp8/Newtonsoft.Json/SerializationBinder.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/StringEscapeHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/TraceLevel.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/TypeNameHandling.cs" />
		

		<source-file src="src/wp8/Newtonsoft.Json/Converters/BinaryConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/BsonObjectIdConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/CustomCreationConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/DataSetConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/DataTableConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/DateTimeConverterBase.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/DiscriminatedUnionConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/EntityKeyMemberConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/ExpandoObjectConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/IsoDateTimeConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/JavaScriptDateTimeConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/JsonValueConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/KeyValuePairConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/RegexConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/StringEnumConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/VersionConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Converters/XmlNodeConverter.cs" />
		

		<source-file src="src/wp8/Newtonsoft.Json/Linq/Extensions.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/IJEnumerable.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JArray.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JConstructor.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JContainer.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JEnumerable.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JObject.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JProperty.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JPropertyDescriptor.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JPropertyKeyedCollection.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JRaw.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JsonMergeSettings.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JsonPath" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JToken.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JTokenEqualityComparer.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JTokenReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JTokenType.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JTokenWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/JValue.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Linq/MergeArrayHandling.cs" />
		
		<!--<source-file src="src/wp8/Newtonsoft.Json/Schema/Extensions.cs" />	-->
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchema.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaBuilder.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaConstants.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaException.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaGenerator.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaModel.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaModelBuilder.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaNode.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaNodeCollection.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaType.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/JsonSchemaWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/UndefinedSchemaIdHandling.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/ValidationEventArgs.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Schema/ValidationEventHandler.cs" />
		

		<source-file src="src/wp8/Newtonsoft.Json/Serialization/CachedAttributeGetter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/CamelCasePropertyNamesContractResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/DefaultContractResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/DefaultReferenceResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/DefaultSerializationBinder.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/DiagnosticsTraceWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/DynamicValueProvider.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ErrorContext.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ErrorEventArgs.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ExpressionValueProvider.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/IContractResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/IReferenceResolver.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ITraceWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/IValueProvider.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonArrayContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonContainerContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonDictionaryContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonDynamicContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonFormatterConverter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonISerializableContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonLinqContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonObjectContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonPrimitiveContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonProperty.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonPropertyCollection.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonSerializerInternalBase.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonSerializerInternalReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonSerializerInternalWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonSerializerProxy.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonStringContract.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/JsonTypeReflector.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/MemoryTraceWriter.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ObjectConstructor.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/OnErrorAttribute.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/ReflectionValueProvider.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/TraceJsonReader.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Serialization/TraceJsonWriter.cs" />
		
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/Base64Encoder.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/BidirectionalDictionary.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/CollectionUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/CollectionWrapper.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ConvertUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DateTimeParser.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DateTimeUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DictionaryWrapper.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DynamicProxy.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DynamicProxyMetaObject.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DynamicReflectionDelegateFactory.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/DynamicUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/EnumUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/EnumValue.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ExpressionReflectionDelegateFactory.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/FSharpUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ILGeneratorExtensions.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ImmutableCollectionsUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/JavaScriptUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/LateBoundReflectionDelegateFactory.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/LinqBridge.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/MathUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/MethodCall.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/MiscellaneousUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/PropertyNameTable.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ReflectionDelegateFactory.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ReflectionObject.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ReflectionUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/StringBuffer.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/StringReference.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/StringUtils.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ThreadSafeStore.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/TypeExtensions.cs" />
		<source-file src="src/wp8/Newtonsoft.Json/Utilities/ValidationUtils.cs" />

	</platform>

</plugin>

